@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
  height: 100vh !important;
  margin: 0 !important;
  padding: 0 !important;
}

.background-clouds,
.background-drizzle,
.background-mist,
.background-rain,
.background-snow,
.background-storm,
.background-sun,
.background-dust {
  background-image: url(images/clouds.jpg);
  background-size: cover;
  height: 100%;
}
.background-drizzle {
  background-image: url(images/drizzle.jpg);
}
.background-mist {
  background-image: url(images/mist.jpg);
}
.background-rain {
  background-image: url(images/rain.jpg);
}
.background-snow {
  background-image: url(images/snow.jpg);
}
.background-storm {
  background-image: url(images/storm.jpg);
}
.background-sun {
  background-image: url(images/sun.jpg);
}
.background-dust {
  background-image: url(images/dust.jpg);
}
.cityCard {
  background-color: rgba(54, 54, 54, 0.3);
}
/* btn-primary */
@layer components {
  .btn-primary {
    @apply inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;
  }
}
/* clocks */
.clocks {
  background-color: rgba(20, 77, 37, 0.3);
}