@tailwind base;
@tailwind components;
@tailwind utilities;

.background-clouds {
  background-image: url(images/clouds.jpg);
  height: 100vh;
}
.background-drizzle {
  background-image: url(images/drizzle.jpg);
  height: 100vh;
}
.background-mist {
  background-image: url(images/mist.jpg);
  height: 100vh;
}
.background-rain {
  background-image: url(images/rain.jpg);
  height: 100vh;
}
.background-snow {
  background-image: url(images/snow.jpg);
  height: 100vh;
}
.background-storm {
  background-image: url(images/storm.jpg);
  height: 100vh;
}
.background-sun {
  background-image: url(images/sun.jpg);
  height: 100vh;
}
.background-dust {
  background-image: url(images/dust.jpg);
  height: 100vh;
}