@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
  height: 100vh !important;
  margin: 0 !important;
  padding: 0 !important;
}

.background-clouds,
.background-drizzle,
.background-mist,
.background-rain,
.background-snow,
.background-storm,
.background-sun,
.background-dust {
  background-image: url(images/clouds.jpg);
  background-size: cover;
  height: 100%;
}
.background-drizzle {
  background-image: url(images/drizzle.jpg);
}
.background-mist {
  background-image: url(images/mist.jpg);
}
.background-rain {
  background-image: url(images/rain.jpg);
}
.background-snow {
  background-image: url(images/snow.jpg);
}
.background-storm {
  background-image: url(images/storm.jpg);
}
.background-sun {
  background-image: url(images/sun.jpg);
}
.background-dust {
  background-image: url(images/dust.jpg);
}
.cityCard {
  background-color: rgba(54, 54, 54, 0.3);
}